<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta id="viewport" name="viewport" content ="width=device-width" />
      <title>Remotor Jobs Board</title>
      {% load staticfiles %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
      <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" />
    </head>
    <body>
      <div class="grid">
          {% include "board/navbar.html"%}
    	  {% block content %}
    	  {% endblock content %}
      </div>
	</body>
</html>
