{% extends 'board/base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block content %}
    <div class="welcome">
	{% if user.is_authenticated %}
	  <p>Hello {{ user.username }}!</p>       
	{% else %}
	  <p>Hello anonymous user!</p>
	{% endif %}
	</div>
	<h1>Remote Software Development (and more) Jobs</h1>
	<div class="intro">
	<p>I firmly believe that the future of work is remote. Personally I'm based
	in the West of Spain (Extremadura) where there are very few job
	opportunities, but get by on remote consulting work.</p>
	<p>The original idea was to gather links to Python development jobs from a
	whole lot of websites which carry ads for remote work. It has recently
	expanded to include other languages, and some other types of remote work 
	opportunities which aren't tech-related.</p>
	<p>This site is run on a totally voluntary basis and we aren't taking any
	kind of a cut or kickback from the job sites.</p>
    <p>It's a work in progress so apologies in advance for the roughness
    around the edges. If you'd like to contribute to polishing it, feel free to
    fork the project which is up on Github 
    <a href="https://github.com/jamiebull1/remotor">here</a>.</p>
    <br>
    <p>Good luck with the job-hunting!</p>
	</div>
	<img class="background" src="{% static 'img/picos.jpg' %}" alt="picos de europa"></img>
{% endblock %}
