{% extends 'board/base.html' %}
{% load humanize %}
{% block content %}
    <div class="welcome">
	{% if user.is_authenticated %}
	  <p>Hello {{ user.username }}!</p>       
	{% else %}
	  <p>Hello anonymous user!</p>
	{% endif %}
	</div>
	<h1>Remotor - Remote Python (and more) jobs</h1>
	<div class="intro">
	<p>This site is a work in progress so apologies in advance for the roughness
	around the edges.</p>
	<p>I firmly believe that the future of work is remote. Personally I'm based
	in the Wild West of Spain (Extremadura) where there are very few job
	opportunities, but manage to get by on remote consulting work.</p>
	<p>The general idea is to gather links to Python jobs from a whole lot of
	websites which carry ads for remote Python jobs. It will likely expand to
	include other languages, and perhaps other types of remote work opportunities
	which aren't tech-related.</p>
	<p>This site is run on a totally voluntary basis and we aren't taking any
	kind of a cut or kickback from the job sites.</p>
	</div>
	<h2>Jobs</h2>
	{% for job in jobs %}
	   <div class="job">
           <a href="{{ job.url }}"><h3>{{ job.title }}</h3></a>
           {% if job.site %}
               <p>From: {{ job.site }}</p>
           {% endif %}
               <p>Posted to {{ job.site }}: {{ job.date_posted | naturaltime }}</p>
               <p>Added to Remotor: {{ job.date_added | naturaltime }}</p>
           {% if job.presentable %}
             <p class="text">{{ job.presentable | safe }}</p>
           {% else %}           
             <p class="text">{{ job.text }}</p>
           {% endif %}
           <ul>
             {% for tech in job.technologies %}
               <li>{{ tech }}</li>
             {% endfor %}
           </ul>
	   </div>
	{% endfor %}
    <p>{{ pagination.count }} results ({{ pagination.pages }} pages)</p>
    {% for link in pagination.links %}
        <a href="{{ link.url }}">{{ link.page_no }}</a>&nbsp
    {% endfor %}
    <script>
        setTimeout("location.reload(true);",3600);
    </script>
{% endblock %}
