{% extends 'board/base.html' %}

{% block content %}
  <h2>Select technologies</h2>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="id_user" value={{ user.id }}>
    <table>
    	{{ form.as_table }}
    </table>
	<button type="submit">Update</button>
  </form>
	{% if form.errors %}
	    {% for field in form %}
	        {% for error in field.errors %}
	            <div class="alert alert-danger">
	                <strong>{{ error|escape }}</strong>
	            </div>
	        {% endfor %}
	    {% endfor %}
	    {% for error in form.non_field_errors %}
	        <div class="alert alert-danger">
	            <strong>{{ error|escape }}</strong>
	        </div>
	    {% endfor %}
	{% endif %}
  <h2>Required keywords</h2>
  {% for tech in user.profile.required_techs.all %}
    <p>{{ tech.name }}</p>
  {% endfor %}
  <h2>Excluded keywords</h2>
  {% for tech in user.profile.excluded_techs.all %}
    <p>{{ tech.name }}</p>
  {% endfor %}
{% endblock %}