h1, h2, h3, h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0px;
    color: #174;
}

body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    text-align: center;
    display: flex-inline;
}
.navbar {
    padding: 1em 0.75em 1em;
    color: #fff;
    background-color: #7a8;
}
.navbar a {
    color: #fff;
    font-size: 1.2em;
}
.job {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.job-title {
    color: #174;
}
form {
	color: #174;
}
.techs-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
}
.techs-list ul li {
    display: inline;
    margin: .2em;
    padding: .3em;
    color: #fff;
    background-color: #7a8;
    line-height: 2.2em;
}
#id_required_techs {
    list-style-type: none;
    margin: .2em;
    padding: .3em;
    color: #fff;
    background-color: #7a8;
}
#id_excluded_techs {
    list-style-type: none;
    margin: .2em;
    padding: .3em;
    color: #fff;
    background-color: #7a8;
}
.background {
    width: 100%;	
}
.plan {
	border: 1px solid #ccc;
}
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
